
// https://www.google.com/design/spec/style/color.html#color-color-palette
$amber50: #FFF8E1;
$amber100: #FFECB3;
$amber200: #FFE082;
$amber300: #FFD54F;
$amber400: #FFCA28;
$amber500: #FFC107;
$amber600: #FFB300;
$amber700: #FFA000;
$amber800: #FF8F00;
$amber900: #FF6F00;

$amberAccent100: #FFE57F;
$amberAccent200: #FFD740;
$amberAccent400: #FFC400;
$amberAccent700: #FFAB00;