[submodule "sledgehammer/core"]
	path = sledgehammer/core
	url = git://github.com/sledgehammer/core.git
[submodule "sledgehammer/mvc"]
	path = sledgehammer/mvc
	url = git://github.com/sledgehammer/mvc.git
[submodule "sledgehammer/bootstrap"]
	path = sledgehammer/bootstrap
	url = git://github.com/sledgehammer/bootstrap.git
