<div class="refreshButton">
	Generated <?php echo $age; ?> ago
	<button onclick="window.location='<?php echo $regenerateUrl; ?>'"><img class="icon" src="<?php echo WEBROOT; ?>images/icons/refresh.png" />Refresh </button>
</div>
<iframe width="100%" frameborder="0" scrolling="auto" src="<?php echo $src; ?>"></iframe>
<?php
javascript_once(WEBPATH.'core/javascripts/jquery.js', 'jquery');
?>
<script type="text/javascript">
function resizePage() {
	//console.log($(window).height());
	$('.page').height($(window).height() - $('.page').offset().top - 50);
	$('.contents').css('padding', 0);
	$('.contents').height($('.page').height() - $('.contents').offset().top);
}
$(document).ready(function () {
	resizePage();
	$(window).resize(resizePage);
});
/*
// iFrame de hoogte van zijn contents 
$('iframe').load(function() {
		var newHeight = $(this.contentWindow.document.body).height() + 'px';
		console.log(newHeight);
    //$(this).height(newHeight);
});
*/
</script>
