<table>
	<tr>
		<td valign="top">
			<h2>Utilities</h2>
			<?php render($utilities); ?>
		</td>
		<td width="100"></td>
		<td valign="top">
			<h2>Documentation</h2>
			<?php render($documentation); ?>
			<br />
			<h2>Modules</h2>
			<?php render($modules); ?>
		</td>
		<td width="100"></td>
		<td valign="top">
			<h2>UnitTests</h2>
			<?php render($unittests); ?>
		</td>
	</tr>
</table>
		<?php
		/*
<table>
	<tr>
		<td valign="top">
{viewport properties}
{if viewport_exists('utils')}
			<h2>Utils</h2>
			{viewport utils}
		</td>
{/if}
{if viewport_exists('databases')}
		<td width="100"></td>
		<td valign="top">
			<h2>Database connections</h2>
			{viewport databases}
			<br />
{/if}
			<h2>Documentation</h2>
			{viewport documentation}
			<br />
			<h2>Modules</h2>
			{viewport modules}
		</td>
		<td width="100"></td>
		<td valign="top">
			<h2>UnitTests</h2>
			{viewport unittests}
		</td>
	</tr>
</table>
*/ ?>
