/**
 * General Layout
*/

html, body {
	background: #c0e1ff url('../img/background.png') repeat-x;
	height: 100%;
}
h1 a,
h2 a,
h3 a {
	color: inherit;
}

.pageLayout {
	position: relative;
	margin: 0 auto;
	background: white;
	box-shadow: 1px 1px 20px rgba(0,0,0,.4);
	width: 1162px;
	min-height: 100%;
}
.pageLayout > .breadcrumb {
	margin-left: 200px;
}
.pageContents {
	padding: 0 0 40px 0;
}
.titlebar {
	background-image: linear-gradient(left , rgb(255,255,255) 50px, rgb(250,179,0));
	background-image: -webkit-linear-gradient(left , rgb(255,255,255) 50px, rgb(250,179,0));
	padding: 2px 15px;
}
.titlebar .titlebar-title {
	font-size: 30px;
	font-weight: bolder;
	text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
	line-height: 40px;
	height: 40px;
	background: url('../img/sledgehammer-logo.png') no-repeat;
	color: #333;
	padding-left: 48px;
}
.titlebar .titlebar-title:hover {
	text-decoration: none;
}
.nav-header {
	color: #aaa;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 15px;
}
.pageLayout > .menu {
	float: left;
	width: 199px;
	border-right: 1px solid #ddd;
	padding: 10px 1px;
}
.pageLayout > .contents {
	width: 940px; /* 12 span grid */
	float: left;
	margin: 3px 0px 15px 20px;
}


/**
 *Icons
*/
img.icon {
	vertical-align: text-top;
}
.icon-script {

}
.icon-accept {
	background: url('../icons/accept.png');
	width: 16px;
	height: 16px;
}
.icon-unittest {
	background: url('../icons/test.png');
	width: 16px;
	height: 16px;
}

/* phpinfo page */
.phpinfo .e {
	font-weight: bold;
}

.unittest {
	margin: 10px 15px 15px 0;
}
.unittest-heading {
	vertical-align: bottom;
}
.unittest h3 {
	margin-bottom: 0px;
}
.unittest .unittest-assertion {
	font-size: 11px;
	line-height: 16px;
}
.unittest .unittest-assertion .label {
	text-transform: uppercase;
	font-size: 9px;
	padding: .1em .5em .2em;
}

.utilscript {
	margin: 15px 0;
}
.phpdoc_refresh {
	position: absolute;
	top: 12px;
	right: 20px;
}