    <form>
        <md-input-container>
            <label for="testInput">Command palette</label>
            <input id="testInput" type="text" md-autofocus>
        </md-input-container><br>
        <md-input-container>
            <label for="testInput">Command palette</label>
            <input id="testInput" type="text" md-autofocus>
        </md-input-container><br>
        <md-input-container>
            <label for="testInput">Command palette</label>
            <input id="testInput" type="text" md-autofocus>
        </md-input-container><br>
        <md-input-container>
            <label for="testInput">Command palette</label>
            <input id="testInput" type="text" md-autofocus>
        </md-input-container><br>
        <md-input-container>
            <label for="testInput">Command palette</label>
            <input id="testInput" type="text" md-autofocus>
        </md-input-container><br>
        <md-input-container>
            <label for="testInput">Command palette</label>
            <input id="testInput" type="text" md-autofocus>
        </md-input-container><br>
        <md-input-container>
            <label for="testInput">Command palette</label>
            <input id="testInput" type="text" md-autofocus>
        </md-input-container><br>
        <md-input-container>
            <label for="testInput">Command palette</label>
            <input id="testInput" type="text" md-autofocus>
        </md-input-container><br>
        <md-input-container>
            <label for="testInput">Command palette</label>
            <input id="testInput" type="text" md-autofocus>
        </md-input-container><br>
        <md-input-container>
            <label for="testInput">Command palette</label>
            <input id="testInput" type="text" md-autofocus>
        </md-input-container><br>
        <md-input-container>
            <label for="testInput">Command palette</label>
            <input id="testInput" type="text" md-autofocus>
        </md-input-container><br>
    </form>